---
name: Release

on:
  push:
    branches:
      - main
      - next
      - next-major
      - beta
      - alpha
      - "[0-9]+.[0-9]+.x"
      - "[0-9]+.x"

jobs:
  release:
    uses: semantic-release-action/rust/.github/workflows/release-binary.yml@48dc41fbf91eb673c68a7a03d169f7ad4c184547 # v5
    with:
      disable-semantic-release-cargo: true
      targets: |
        aarch64-apple-darwin
        aarch64-unknown-linux-gnu
        aarch64-unknown-linux-musl
        i686-unknown-linux-gnu
        i686-unknown-linux-musl
        x86_64-apple-darwin
        x86_64-unknown-linux-gnu
        x86_64-unknown-linux-musl
